<html>
  <head>
    <title>Hello world</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <h1>Hello world!</h1>
    <img src="/static/img/kitten.jpg" alt="this is a kitten.">
  </body>
  <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
    apiKey: "AIzaSyBtE4tskApYgO_JbeA87Mj1ZQY34pjrwI0",
    authDomain: "ytg-money.firebaseapp.com",
    databaseURL: "https://ytg-money.firebaseio.com",
    projectId: "ytg-money",
    storageBucket: "ytg-money.appspot.com",
    messagingSenderId: "893169151210"
    };
    firebase.initializeApp(config);
  </script>
</html>
